* {
  margin: 0%;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  margin: 0 auto;
  background-color: lemonchiffon;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 5px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  padding-right: 10px;
}
.banner {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content {
  text-align: center;
}
img {
  width: 100%;
  margin-top: 50px;
}
.banner-title {
  margin-bottom: 20px;
}
.banner-description {
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.primary-btn {
  background-color: rgb(56, 126, 126);
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

/* for mobile devices */
@media screen and (max-width: 576px) {
  nav {
    padding: 10px;
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
  .banner-content {
    text-align: start;
  }
}
